# my.cnf - MySQL 配置文件
# 2018 Tencent Teg 信息安全部 MINI项目 ---- minitrill 
#
# @author   :   h-j-13
# @time     :   2018-07-17

[client]
# ------------客户端配置----------------
port      = 3306
socket    = /tmp/mysql.sock

[mysqld]
# ------------主要配置-----------------
# 基础信息
port      = 3306
user      = root
socket    = /tmp/mysql.sock

# 路径设置
basedir   = /usr/local/mysql
datadir   = /data/minitrill/data/mysql-data
log-error = error.log
server-id = 1

# 字符编码
character_set_server = utf8mb4

# 表名大小写敏感
lower_case_table_names = 0

# 连接设置
max_connections = 1024  
back_log = 600  
max_connect_errors = 4000  
wait_timeout=288000
interactive_timeout = 288000
join_buffer_size = 2M  
thread_cache_size = 32 

# 引擎设置
default-storage-engine = INNODB
thread_stack = 256K
tmp_table_size = 512M  
max_heap_table_size = 256M
expire_logs_days = 7  
key_buffer_size = 2048M  
read_buffer_size = 1M  
read_rnd_buffer_size = 16M  
bulk_insert_buffer_size = 64M  
myisam_sort_buffer_size = 128M  
myisam_max_sort_file_size = 10G  
innodb_buffer_pool_size = 4G
innodb_buffer_pool_instances = 2
innodb_lock_wait_timeout = 120  
innodb_file_per_table = 0 